<nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href=""><?= $this->fetch('title') ?></a></h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="right">
                        
                          
                               <li> <?= $this ->Html->link('logout',['controller'=>'users','action'=>'logout']); ?></li>
                               <li> <?= $this ->Html->link('login',['controller'=>'users','action'=>'login']); ?></li>
                               <li> <?= $this ->Html->link('register',['controller'=>'users','action'=>'register']); ?></li>
                             
                         
            </ul>
        </div>
    </nav>
<br>
<div class="index large-4 medium-4 large-offset-4 columns">
    <div class="panel">
        <h2 class="text-center">ورود</h2>
         
          
           <?= $this->Form->create();?>
                       
        <p>* ایمیل<input type="text" name="email" value="" lable=""> </p>
           
       
        <p>* پسورد<input  type="password" name="password" value=""> </p>
        
                <p>  <?= $this->Form->button('ورود');?></p>
          
          
           <?= $this->Form->end();?>
        
    </div>
</div>
