<nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href=""><?= $this->fetch('title') ?></a></h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="right">
                        
                            <li> <?= $this ->Html->link('register',['controller'=>'users','action'=>'register']); ?></li>

                               <li> <?= $this ->Html->link('logout',['controller'=>'users','action'=>'logout']); ?></li>
                               <li> <?= $this ->Html->link('login',['controller'=>'users','action'=>'login']); ?></li>
                           
                         
            </ul>
        </div>
    </nav>
<br>
<div class="index large-4 medium-4 large-offset-4 columns text-right">
    <div class="panel">
        <h2 class="text-center">لطفاثبت نام کنید</h2>
           
           <?= $this->Form->create();?>
        <p>* نام<input type="text" name="name"  value="" > </p>
         <p>* نام خانوادگی<input type="text" name="family" value=""> </p>
           <p>* ایمیل<input type="text" name="email" value=""> </p>
           <p>*پسورد  <input  type="password" name="password" value=""> </p>
           <p>*تکرار پسورد<input  type="password" name="password" value=""> </p>
           <p>شماره تماس<input  type="text" name="number phon" value=""> </p>
           <p>نام سازمان<input  type="text" name="name of organization" value=""> </p>
             <input name="field[]" value="آیا تمایل به شرکت در سمینارهای رایگان راه کار جامع مدیریت IT آرکا را دارید" id="seminar0" type="checkbox">  
             ایا تمایل به شرکت در سمینارهای رایگان راه کار جامع مدیریت  آرکارا دارید 
            <br><br>
           <?= $this->Form->button('ثبت نام');?>
           
           
           <?= $this->Form->end();?>
    </div>
</div>

<br>

