<table>
<?php foreach ($requests as $request): ?>
<tr>
    <td>
        <?php echo $request['request']; ?> 
    </td>
     <td>
        <?php echo $request['Status']; ?>
        
    </td>
    <td>
        <?php echo $request['response']; ?>
        
    </td>
     <td>
        <?php echo $request['Created']; ?>
        
    </td>
    <td>
               
        <a href="../Requests/detail/<?=$request->Id?>">show</a>
    </td>
    
</tr>
<?php endforeach; ?> 
</table>
