<?php
/**
  * @var \App\View\AppView $this
  */
?>

    
        <br><br>
                    <div class="title">
                          <nav class="top-bar " data-topbar  >
                          <ul class="title-area large-4 medium-4 large-offset-6  columns text-right"> 
                                دانلود پویشگر دانا
                         </ul>
                    </div>      
    
                    <div class="o_content">
                        <div class="logo" id="logo_01"></div>
                        <div class="description">
                            با نصب داناکلاینت بر روی کامپیوتر کاربران و کارشناسان شبکه، علاوه بر دریافت پیغام های آگاه سازی نرم افزار دانا به صورت Popup بر روی دسکتاپ، از آخرین وضعیت سخت افزاری و نرم افزاری سیستم آنها آگاه شوید.<br>
برای آشنایی با نحوه نصب این ابزار به صورت یکباره بر روی همه کامپیوتر های شبکه از طریق Active Directory GPO به راهنمای سیستم مراجعه کنید.
                        </div>
                        <a href="./Files/DanaClient.zip">
                            <div class="dl">
                                دانلود
                            </div>
                        </a>
                    </div>
                

  
    
    
