<nav class="top-bar expanded" data-topbar role="navigation">
        <ul class="title-area large-3 medium-4 columns">
            <li class="name">
                <h1><a href=""><?= $this->fetch('title') ?></a></h1>
            </li>
        </ul>
        <div class="top-bar-section">
            <ul class="right">
                        
                          
                               <li> <?= $this ->Html->link('logout',['controller'=>'experts','action'=>'logout']); ?></li>
                               <li> <?= $this ->Html->link('login',['controller'=>'experts','action'=>'login']); ?></li>
                              
            </ul>
        </div>
    </nav>
<br>
<div class="index large-4 medium-4 large-offset-4 columns">
    <div class="panel">
        <h2 class="text-center">کارشناس</h2>
<?= $this->Form->create() ?>
<?= $this->Form->control('Email') ?>
<?= $this->Form->control('password') ?>
<?= $this->Form->button('addexpert') ?>
<?= $this->Form->end() ?>

  
