<?php
/**
  * @var \App\View\AppView $this
  */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Supercoach'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="supercoachs index large-9 medium-8 columns content">
    <h3><?= __('Supercoachs') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('username') ?></th>
                <th scope="col"><?= $this->Paginator->sort('password') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('family') ?></th>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($supercoachs as $supercoach): ?>
            <tr>
                <td><?= h($supercoach->username) ?></td>
                <td><?= h($supercoach->password) ?></td>
                <td><?= h($supercoach->name) ?></td>
                <td><?= h($supercoach->family) ?></td>
                <td><?= $this->Number->format($supercoach->id) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $supercoach->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $supercoach->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $supercoach->id], ['confirm' => __('Are you sure you want to delete # {0}?', $supercoach->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
