<div class="index large-4 medium-4 large-offset-8 columns text-right">
<br>   

<?php

echo $this->Form->create('Notifications', array('type' => 'post'));
echo $this->Form->input('search');


echo $this->Form->button(__('search')) ;
echo $this->Form->end();
?>
    
</div>

    
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                
                 <th scope="col"><?= $this->Paginator->sort('id') ?></th> 
                <th scope="col"><?= $this->Paginator->sort('عنوان اعلان') ?></th>
                <th scope="col"><?= $this->Paginator->sort('ثبت کننده') ?></th>
                <th scope="col"><?= $this->Paginator->sort('تاریخ ثبت') ?></th>
                <th scope="col"><?= $this->Paginator->sort('از تاریخ') ?></th>
                <th scope="col"><?= $this->Paginator->sort('تا تاریخ') ?></th>
                <th scope="col"><?= $this->Paginator->sort('نمایش به') ?></th>
                <th scope="col"><?= $this->Paginator->sort('بیوست') ?></th>
               
              
               
            </tr>
        </thead>
       <tbody>
        <?php foreach ($search as $search): ?>
              <tr>
              <td><?= $this->Number->format($search->id) ?></td>
                <td><?= h($search->titel) ?></td>
                <td><?= h($search->registrant) ?></td>
                <td><?= h($search->date_Registration) ?></td>
                <td><?= h($search->from_date) ?></td>
                <td><?= h($search->to_date) ?></td>
                <td><?= h($search->show_to) ?></td>
                <td><?= h($search->attachment) ?></td>

            </tr>
       <?php endforeach; ?>
            </tbody>
    </table>
      <div class="index large-1 medium-1 large-offset-5 columns ">
        <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
           
           
             
            <select >
              
                <option value="" selected="selected" >1</option>
                <option value="01">2</option>
               <option value="02">3</option>
               <option value="03">4</option>
          
          </select>
          </div>
            
       
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
         </div>
    </div>


          




      






