<div class="index large-4 medium-4 large-offset-8 columns text-right">
<br>   

<?php

echo $this->Form->create('Daraee', array('type' => 'post'));
echo $this->Form->input('search');


echo $this->Form->button(__('search')) ;
echo $this->Form->end();
?>
    
</div>

    
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                
                <th scope="col"><?= $this->Paginator->sort('نام دارایی') ?></th>
                <th scope="col"><?= $this->Paginator->sort('شماره اموال') ?></th>
                <th scope="col"><?= $this->Paginator->sort('نوع') ?></th>
                <th scope="col"><?= $this->Paginator->sort('کلاینت') ?></th>
                <th scope="col"><?= $this->Paginator->sort('شماره سریال') ?></th>
                <th scope="col"><?= $this->Paginator->sort('وضعیت') ?></th>
                <th scope="col"><?= $this->Paginator->sort('دبارتمان') ?></th>
                <th scope="col"><?= $this->Paginator->sort('تحویل گیرنده') ?></th>
                <th scope="col"><?= $this->Paginator->sort('سازنده') ?></th>
                <th scope="col"><?= $this->Paginator->sort('مدل') ?></th>
                <th scope="col"><?= $this->Paginator->sort('آدرس') ?></th>
               
               
            </tr>
        </thead>
       <tbody>
        <?php foreach ($search as $search): ?>
              <tr>
                 <td><?= h($search->name) ?></td>
                 <td><?= $this->Number->format($search->number_daraee) ?></td>
                 <td><?= h($search->type) ?></td>
                 <td><?= h($search->client) ?></td>
                 <td><?= $this->Number->format($search->number_seryal) ?></td>
                <td><?= h($search->status) ?></td>
                <td><?= h($search->departeman) ?></td>
                <td><?= h($search->recever) ?></td>
                <td><?= h($search->maker) ?></td>
                <td><?= h($search->model) ?></td>
                <td><?= h($search->adress_ip) ?></td>
                <td><input name="field[]" value="1" id="seminar0" type="checkbox"></td>

            </tr>
       <?php endforeach; ?>
            </tbody>
    </table>
      <div class="index large-1 medium-1 large-offset-5 columns ">
        <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
           
           
             
            <select >
              
                <option value="" selected="selected" >1</option>
                <option value="01">2</option>
               <option value="02">3</option>
               <option value="03">4</option>
          
          </select>
          </div>
            
       
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
         </div>
    </div>


          




      




